.CollectionItem {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    border-top: 1px solid gray;
    margin-top: 3%;
    padding-top: 2%;

    img {
        width: 15%;
    }

    .collection-item-info {
        padding-left: 5%;

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            // text-align: center;
            text-transform: capitalize;
            color: #393280;
        }

        h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            // text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #888888;
        }

        p {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            // text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #ED553B;
        }

        a {
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 220%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #393280;

            button {
                border: 1px solid #393280;
                border-radius: 7px;
                width: 50%;
                height: 3em;
                background-color: #ffff;
            }
            
            button:hover{
                background-color: #ED553B;
                color: #ffff;
                transition: 1s;
            }
        }

    }

}